<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ikki - A Web Chat written in Elixir using Phoenix</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <a href="https://github.com/ulissesalmeida/ikki"><img style="position: absolute; bottom: 0; right: 30px; border: 0; z-index: 1;" src="https://github.com/jamesflorentino/fork-ribbons/raw/master/ribbons/orange-black.png" alt="Fork me on GitHub"></a>

    <div class="container-fluid" role="main">
      <div class="header">
        <div class="header-main">
          <img class='header-logo' src="<%= static_path(@conn, "/images/logo.png") %>" alt="Ikki logo" />
          <h1>
            Ikki
            <small>A Web Chat written in Elixir using Phoenix</small>
          </h1>
        </div>

        <%= if current_user = current_user(@conn) do %>
          <div class='header-current-user'>
            <%= current_user %>

            <%= link 'Sair', to: session_path(@conn, :signout), method: :delete %>
          </div>
        <% end %>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
