<div class="chat-container row">
  <div class='chat-messages-container'>
    <div class="chat-messages-board" data-messages-board>
    </div>

    <form class='chat-form' data-chat-form>
      <textarea class='chat-form-input' data-chat-input></textarea>

      <input type="submit" class='btn btn-primary chart-form-send-button'>
    </form>
  </div>

  <div class='chat-users-container' data-users>
    <h1 class='chat-users-title'>Users</h1>
  </div>
</div>
